@media (min-width: 768px) {
  #menu-button {
    display: none;
  }

  nav {
    display: block !important;
  }

  nav ul {
    display: flex;
    gap: 1rem;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    flex: 1;
  }

  #courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.card img {
  max-width: 50%; /* Ajusta al 80% del ancho de la card */
  margin: 0 auto; /* Centra la imagen */
  display: block;
}
.card p {
  font-size: 1.5rem;
}